<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	
    
	
	<link rel="stylesheet" href="/stylesheets/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section ">ĐỒ ÁN CUỐI KỲ</h2>
                    <h2 class="heading-section ">VẬT LÝ CHO CNTT</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h5 class="mb-4">Nồng độ khí ga:</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="gas" id="gas" readonly="true" value={{gas}}>  
											</div>
										</div>
									</div>
									{{!-- <h5 class="mb-4">Time:</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="time" id="time" readonly="true" >  
											</div>
										</div>
									</div> --}}
									
									<div class="col-md-12">
										<label class="col-md-12">Auto:</label>
									<button  value="Send Message" class="btn btn-primary" id="auto-on" text="subbmit">ON</button>
									<button  value="Send Message" class="btn btn-primary" id="auto-off" text="subbmit">OFF</button>
									</div>
									<div class="col-md-12">
										<label class="col-md-12">Manual:</label>
									<button  value="Send Message" class="btn btn-primary" id="manual-on" text="subbmit">ON</button>
									<button  value="Send Message" class="btn btn-primary" id="manual-off" text="subbmit">OFF</button>
									</div>
									
													
									
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
									<h3 class="mb-4 mt-md-4">Nhóm 1:</h3>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		
				        		<div class="text pl-3">
					            <p><span>Thái Văn Thiên - 20127631</span></p>
                              
					            <p><span>Đào Trọng Nam - 20127244</span></p>   
                              
					            <p><span>Lê Nguyễn Chí Hiếu - 20127157</span></p>
                                    </div>
					          
				          
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" style="margin-top: 50px ;">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section ">ALERT HISTORY</h2>
					<ul class="responsive-table" id="history">
    <li class="table-header">
      <div class="col ">Time</div>
      {{!-- <div class="col col-2">Cause</div> --}}
      
    </li>
    <li class="table-row">
      <div class="col" >10:20:14 - 3/11/2022</div>
      {{!-- <div class="col col-2" data-label="Time">John Doe</div> --}}
      
      {{!-- <div class="col col-4" data-label="Payment Status">Pending</div> --}}
    
  </ul>
                    
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
	
	

	<script type="text/javascript" src="js/realtime.js"></script>
 
  
  	
	</body>
</html>

